/Java/box/nbproject/private/
/Java/box/build/
/Java/box/dist/
/Java/JavaFXApplication1/nbproject/private/
/Java/JavaFXApplication1/build/
/Java/JavaFXApplication1/dist/
/NewFolder/JavaFXApplication2/nbproject/private/
/NewFolder/JavaFXApplication2/dist/
/NewFolder/JavaFXApplication2/build/